{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container shadow pagetitle p-4">
        <h2>{{ title }}</h2>
        <div class="img-container">
            <img src="{{ imgurl }}" alt="image">
        </div>
        <div class="text-container">
            <p class="text-secondary">Posted by {{ user }}</p>
            <p class="text-dark">Category: {{ category }}</p>
            <p class="text-secondary">{{ description }}</p>
        </div>
    </div>

    <div class="container shadow p-4">
        <h4>Current Price: ${{ price }}</h4>
        <form action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            <input class="form-control mb-2" placeholder="Bid Amount" type="number"
            name="bidamount" min="{{ price }}" max="1000000000" step="0.01" required>
            <input class="btn btn-primary mb-2" type="submit" value="Bid">
            <input type="hidden" name="listing_id" value="{{ id }}">
        </form>
    </div>

{% endblock %}