* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  padding: 10px;
  overflow-y: scroll; /* Show vertical scrollbar */
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.pagetitle {
  padding-top: 10px;
  text-align: center;
  margin: 20px auto;
}

.new-listing {
  text-align: center;
}

.listing-item {
  margin: 10px auto;
}

.thecard {
  height: 100%;
}

.img-container {
  width: 50%;
  margin: 0 auto;
}

.text-container {
  width: 50%;
  margin: 0 auto;
}

.bid-container {
  margin: 20px auto;
}

.outer {
  height: 70vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.special-link {
  color: #0a58ca;
}

.special-link:hover {
  text-decoration: underline;
}
