body {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.pagetitle {
  padding-top: 10px;
  text-align: center;
  margin: 20px auto;
}

.new-listing {
  text-align: center;
}

.listing-item {
  margin: 10px auto;
}

.thecard {
  height: 100%;
}

.img-container {
  width: 50%;
  margin: 0 auto;
}
