body {
    overflow-y: scroll; /* Show vertical scrollbar */
}

.my-custom-row {
    height: 50px;
    transition: box-shadow .3s;
}

.my-custom-row:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
    cursor: pointer;
}

#compose-body {
    min-height: 400px;
}
