html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: white;
}

code {
  white-space: pre;
}

h1 {
  margin-top: 0px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: dimgray;
}

a:hover {
  color: dimgray;
  text-decoration: underline;
}

textarea {
  margin-top: 1rem;
  height: 50vh;
  width: 80%;
}

.main {
  padding: 10px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

.sidebar {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 5px;
  padding-left: 10px;
}

.submit-button {
  position: relative;
  width: 91.5%;
  top: 2rem;
  text-align: right;
}

.list-item {
  margin-top: 10px;
  margin-left: 10px;
}

input[class="search"] {
  border-radius: 8px;
  border: 0.5px solid lightgrey;
  margin-left: 10px;
  width: 90%;
}
